html,body{
    text-align: center;
    /* border: 1px solid black;
    border-radius: 1px; */
    width: 200px;
}



#popup-wrap{
    position: relative;
    width: 100%;
    padding-bottom: 20px;
}

#guest button{
width: 60%;
margin-left: 20%;
}

#save-state{
    font-size: small;
}
#authenticated a:hover{
    text-decoration: underline;
}