</div>


<section class="bg-dark text-light" id="footerWrap">
    <footer>
           <div class="container">
               <div class="row mb-3">

                   
                   <div class="col-md-4 text-center">
                       <p> <a class="nav-link text-light" target="_blank" href="mailto:developer.ericke@gmail.com">- Contact Us : test@email.com</a></p>
                   </div>
                   <div class="col-md-4 text-center">
                       <p> <a class="nav-link text-light" target="_blank" href="/privacy">- Privacy Policy</a></p>
                   </div>
                   <div class="col-md-4 text-center">
                       <p> <a class="nav-link text-light" target="_blank" href="/terms">- Terms and conditions</a></p>
                   </div>


               </div>
               <div class="row">
                   <div class="col-md-12 m-3">
                       <h5 class="text-primary" >&copy; 2022 - Word Meaning Saver</h5>
                   </div>
               </div>

           </div>
    </footer>
</section>



</div>

