</div>


<section class="bg-dark text-light" id="footerWrap">
    <footer>
           <div class="container">
               <div class="row mb-3">

                   
                   <div class="col-md-3 text-center">
                       <p> <a href="#">Email</a></p>
                   </div>
                   <div class="col-md-3 text-center">
                       <p> <a href="/privacy">Privacy Policy</a></p>
                   </div>
                   <div class="col-md-3 text-center">
                       <p> <a href="/terms">Terms and conditions</a></p>
                   </div>


               </div>
               <div class="row">
                   <div class="col-md-12">
                       <p>&copy; 2022 - Word Search</p>
                   </div>
               </div>

           </div>
    </footer>
</section>



</div>

