   
   <div id="page-wrap">
    
    <% if (typeof user !== 'undefined') { %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            
            <a class="navbar-brand" href="/dashboard">
                <img src="static/images/Logo 200X200-trans.png" alt="Logo" width="150px" height="100px"> 
            </a>
            <div class="text-info" style="font-family: 'Moon Dance', cursive;font-size: 60px;">Word meaning saver</div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li> -->
                </ul>
                <ul class="navbar-nav" style="font-size: x-large;">
                    <li class="nav-item">
                        <a class="nav-link " href="/dashboard"> <i class="bi bi-person-circle"></i> Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"> <i class="bi bi-box-arrow-in-right"></i> Logout </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <% } %>
     <div id="content-wrap">
  